@model List<TDB_SAAS.Models.Title>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Titles</h2>

<table class="table table-striped">
    <tr><th>Title</th><th>Permitted Genders</th><th>Default Gender</th></tr>

    @foreach (var title in Model)
    {
        <tr>
            <td>@Html.ActionLink(title.TitleValue, "Edit", "Title", new { id = title.ID }, null) </td>
            <td>@foreach (var gender in title.AllowedGenders)
            { @gender <br/>
            }</td>
            <td>@(title.DefaultGender==0?null:title.DefaultGender)</td>
        </tr>
    }

</table>

